////
/// Site footer object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-footer {
	display: none !important;
	margin-top: auto;
	border-top: 0;
	background: #222;
	color: #8198AE !important;
	padding: 40px 0;
}

// Footer widgets layout.
.footer-widgets {
	padding: $spacing--l 0;
}

// Footer credits layout.
.footer-credits {
	padding: 0;
	border-top: 0;

	p {
		margin-bottom: 0;
	}
}


.post-edit-link {
	display: none !important;
}

.nc-footer {
	display: flex;
	background-color: #222;
	color: #8198AE !important;
	padding: 20px 0;
	box-sizing: border-box;
	font-size: 12px;
}