////
/// Site header object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-header {
	position: relative;
	z-index: 1;
	border-bottom: 0;
	height: 90px;
	background-color: none;
	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		height: 100%;
		@include mq(m) {
			flex-wrap: nowrap;
		}
		button.menu-toggle {
			margin-left: auto !important;
			outline: none !important;
			border: none !important;
		}
		nav {
			width: 100%;
		}
		ul {
			background: none;
			margin-left: 20px;
			width: 100%;
			padding: 20px 0;
			li {
				padding: 0;
				margin-left: 20px;
				line-height: 90px;
				a {
					color: #8198AE !important;
					font-size: 16px !important;
					font-weight: 500 !important;
					text-decoration: none !important;
					line-height: 90px;
				}
				ul {
					width: 285px;
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24), 0 2px 15px rgba(0, 0, 0, 0.12) !important;
					background-color: #FFF;
					border-radius: 5px;
					top: 110px !important;
					left: 0 !important;
					li {
						line-height: 32px;
						font-size: 14px;
						a {
							line-height: 32px;
							font-size: 14px;	
							color: #222 !important;
							transition: .2s ease-in-out !important;
							&:hover {
								transform: translateY(-2px);
							}
						}
					}

				}
			}

			li#menu-item-21 {
				margin-left: auto !important;
				a {
					@include button;
					margin-bottom: 0 !important;
					background-color: #9013FE !important;
					@media(max-width: 767px) {
						width: 100% !important;
					}
				}
			}
		}
	}
}

@media(max-width: 767px) {
	body {
		margin-top: 60px !important;
	}
	.site-header {
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		z-index: 999999 !important;
		background: #fcfcfc !important;
		box-shadow: 0 2px 5px rgba(32,32,32,.12) !important;
		ul {
			background-color: #FCFCFC !important;
			border-top: none !important;
			margin-left: 0 !important;
			li {
				margin: 0 auto !important;
				width: 100% !important;
				max-width: 90% !important;
				height: 50px !important;
				a {
					text-align: center !important;
					margin: 0 auto !important;
				}
			}
			li#menu-item-21 {
				margin: 0 auto !important;
				height: 70px !important;
				a {
					width: 100% !important;
				}
			}
		}
	}
}

a {
	border: none !important;
	outline: none !important;
}

p a {
	color: #FF4081 !important;
	transition: .2s ease-in-out !important;
	&:hover {
		color: #EE3070 !important;
		transform: scale(1.025) !important;
	}
}