////
/// Site container object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-container {}

body {
    background-color: #FCFCFC !important;
}

@media(max-width: 767px) {
    .elementor-column-wrap.elementor-element-populated {
        max-width: 90% !important;
        margin: 0 auto !important;
    }
}