////
/// Form.
///
/// @group  Base
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

::placeholder {
	opacity: 1; // Firefox fix
	color: $color--gray-40;
}

label {
	display: block;
	margin: 0 0 $spacing--s;
}

input,
select,
textarea {
	width: 100%;
	margin: 0 0 $spacing--s;
	padding: 1em;
	border: $base--border;
	border-radius: $base--border--radius;
	background-clip: padding-box; // Remove iOS box shadow
	box-shadow: none;

	&:focus {
		border-color: $color--primary;
		outline: none;
	}

	&:disabled,
	&:disabled:hover {
		border-color: $color--gray-60;
		color: $color--gray-40;
		background-color: $color--gray-20;
		cursor: not-allowed;
	}
}

select {
	height: 2em;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
	margin-right: $spacing--s;
}

input[type="color"] {
	min-height: $spacing--xl;
}

input[type="search"] {
	-webkit-appearance: none;

	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button {
		display: none;
	}
}

fieldset {
	min-width: 0;
	margin: 0;
	padding: 0.01em 0 0 0;
	border: 0;

	body:not(:-moz-handler-blocked) & {
		display: table-cell;
	}
}

legend {
	display: table;
	float: left;
	width: 100%;
	margin: 0 0 $spacing--s;
	padding: 0;
	font-size: $font-size--h5;

	@include heading;

	+ * {
		clear: both;
	}
}

form {
	--happyforms-form-width: 100% !important;
}

.happyforms-country-select__selected-country {
	padding-left: 10px !important;
	padding-right: 35px !important;
}

.happyforms-flex {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

label {
	font-family: navigo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	color: rgba(34,34,34,.75) !important;

	span {
		font-family: navigo, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
		font-size: 16px !important;
		font-weight: 500 !important;
		color: rgba(34,34,34,.75) !important;
	}
}

input, textarea, select {
	box-shadow: 0 2px 25px rgba(34,34,34,.12) !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 1.5 !important;
}

#happyforms-64 .happyforms-country-select.focus {
	border: solid 1px #FF4081 !important;
	border-color: #FF4081 !important;
	border-right: none !important;
}

#happyforms-64 .happyforms-part input[type=text]:focus, .happyforms-part input[type=email]:focus, input[type=email]:focus, .happyforms-part input[type=tel]:focus, .happyforms-part input[type=number]:focus, .happyforms-part textarea:focus {
	border: solid 1px #FF4081 !important;
	border-color: #FF4081 !important;
}

#happyforms-64_email_3:focus {
	border: solid 1px #FF4081 !important;
	border-color: #FF4081 !important;
}